<section class="hero">
  <div class="contenido-sedes">
    <div id="home" class="row align-items-center hero">
      <div id="cardales" class="row py-4">
        <div class="col-md-4 offset-md-2">
          <h2 class="red-text-shadow">VISITANOS</h2>
          <div class="mapa">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26358.762240652282!2d-59.00674459865411!3d-34.3289594348622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb7b0848cfa019%3A0x6d953b8be5314819!2sLos%20Cardales%20Country%20Club!5e0!3m2!1ses!2sar!4v1686766503524!5m2!1ses!2sar"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>