<section class="hero">
  <div class="contenido-hero">
    <h1 class="red-text-shadow">SOBRE NOSOTROS</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="images/nosotros1.jpg" class="card-img-top" alt="nosotros">
          <div class="card-body">
            <h5 class="card-title">Lic. Alejandro Rodríguez</h5>
            <p class="card-text">Nuestro preparador físico, con una excelente trayectoria en
              Clubes de la talla de River Plate, C.A.B. y C.A.L.A entre otros,
              está para asesorarte siempre que lo necesites. Él y todo su equipo de Entrenadores
              a cargo, harán que tu entrenamiento sea a tu medida.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images/nosotros2.jpg" class="card-img-top" alt="nosotros">
          <div class="card-body">
            <h5 class="card-title">Analía Vittone</h5>
            <p class="card-text">Bi Campeona Bikini Fitness.
              Campeona Sudamericana Wellness.
              Entrenadora especialista en Alto Rendimiento.
              Responsable de nuestro equipo de Entrenadores
              para Competencias de Élite.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="images/nosotros3.jpg" class="card-img-top" alt="nosotros">
          <div class="card-body">
            <h5 class="card-title">Lic. Mariana Anchoverri</h5>
            <p class="card-text">Evaluación antropométrica. Análisis de composición corporal.
              Evaluación del estado nutricional del paciente. Educación alimentaria nutricional.
              Confección de planes de alimentación.</p>
          </div>
        </div>
      </div>
    </div>
  </div>