<div id="home" class="row align-items-center hero">
    <div class="col-lg-5 offset-lg-2">
        
        <div class="container" style="margin: 50px auto;">

        <h1 class="red-text-shadow">BAFitness NEWS</h1>
        <div class="row my-2">
            <div id="Novedades" class="col-md-6 offset-md-2">
                <h2 class="red-text-shadow">¡ENTERATE CON UN CLICK!</h2>
                <ul class="lista-novedades">
                    <li>
                        <a href="nuevas_clases" data-bs-toogle="modal" data-bs-target="#exampleModal">
                            <img src="images/novedades.jpg">NUEVAS CLASES</a>
                    </li>
                    <li>
                        <a href="/descuentos" data-bs-toogle="modal" data-bs-target="#exampleModal">
                            <img src="images/novedades.jpg">DESCUENTOS EXCLUSIVOS</a>
                    </li>
                    <li>
                        <a href="/productos" data-bs-toogle="modal" data-bs-target="#exampleModal">
                            <img src="images/novedades.jpg">NUEVOS PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/noticiasfitness" data-bs-toogle="modal" data-bs-target="#exampleModal">
                            <img src="images/noticias.jpg">Noticias Fitness</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>Subtítulo</h3>
                        <p>Cuerpo</p>
                    </div>
                </div>
            </div>
        </div>