<section class="hero">
    <div class="contenido-hero">
        <h1 class="red-text-shadow">NUESTROS SERVICIOS</h1>
        <div class="container text-center">
            <div class="row">
                <div class="col align-self-start">
                    <img src="images/musculacion1.jpg" class="rounded float-start" alt="musculacion1">
                    <img src="images/musculacion2.jpg" class="rounded float-end" alt="musculacion">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                SALA DE MUSCULACIÓN
                                <p>Sala de Musculación con gran amplitud totalmente equipada con aparatos de última
                                    generación,
                                    adaptados a la biomecánica correcta de tu cuerpo para lograr rápidamente tus
                                    objetivos
                                    de entrenamiento y evitar lesiones.
                                    Completo Sector Cardio con cintas, elípticos, bicicletas fijas y orbitadores
                                    totalmente computarizados.
                                    Contamos con amplia variedad de mancuernas, barras y complementos de usos múltiples
                                    para un entrenamiento completo.</p>
                            </div>
                        </div>
                    </div>
                    <img src="images/crossfit4.jpg" class="rounded float-start" alt="funcional">
                    <img src="images/crossfit3.jpeg" class="rounded float-end" alt="funcional">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                ENTRENAMIENTO CROSSFIT
                                <p>Practicar Crossfit es beneficioso porque:
                                    Los entrenamientos son diferentes todos los días.
                                    Es un deporte que se realiza en grupo.
                                    La duración es de 1 hora, en la cual se realiza un entrenamiento completo.
                                    Puedes medir tu progreso.
                                    No importa la edad ni el nivel de conocimiento de los ejercicios para practicar
                                    crossfit.
                                    Desarrollas distintas habilidades del área deportiva.</p>
                            </div>
                        </div>
                    </div>
                    <img src="images/spinning1.jpg" class="rounded float-start" alt="spinning">
                    <img src="images/spinning2.jpg" class="rounded float-end" alt="spinning">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                INDOOR CYCLING
                                <p>Para los amantes de las bicis y de la intensidad, nuestros especialistas en Cycling
                                    te tienen preparadas clases dinámicas y divertidas. En ellas mejorarás tu
                                    resistencia cardiovascular y serán una gran opción para aquellos que quieren quemar
                                    calorías para facilitar la pérdida de grasa corporal. </p>
                            </div>
                        </div>
                    </div>
                    <img src="images/personal.jpg" class="rounded float-start" alt="personal">
                    <img src="images/personal2.jpg" class="rounded float-end" alt="personal">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                SERVICIO DE PERSONAL TRAINER
                                <p>Cada plan de entrenamiento debe elaborarse en base a los objetivos que plantea el
                                    Cliente,
                                    por ejemplo puede ser para aumentar su rendimiento físico, recuperarse de una
                                    lesión, bajar de peso, etc.
                                    Además deben programarse en base a los niveles de habilidad, horarios e intereses.

                                    Cuando hablamos de un servicio personalizado nos referimos básicamente a que el
                                    Personal Trainer elabora programas
                                    de entrenamiento que se adaptan a los gustos del Cliente, para que la actividad
                                    física resulte más divertida.
                                    Además, un buen entrenador le enseña a su alumnos cuáles son las técnicas más
                                    apropiadas para minimizar los riesgos y obtener mayores
                                    resultados, controlando en todo momento que la rutina se realice correctamente para
                                    que no haya lesiones y sobreentrenamiento.</p>
                            </div>
                        </div>
                    </div>
                    <img src="images/nutricionista1.jpg" class="rounded float-start" alt="nutrición">
                    <img src="images/nutricionista2.jpg" class="rounded float-end" alt="nutrición">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                NUTRICIÓN DEPORTIVA
                                <p>Los nutriólogos deportivos que harán planes hechos a la medida aplicados al
                                    culturismo, fitness y deportes de resistencia. Enfocados a los objetivos finales y
                                    estilo de vida del paciente.

                                    Seguir un plan nutricional es ideal para corredores de maratón, ciclismo o triatlón,
                                    así como aficionados que quieren alcanzar su máximo pontencial.

                                    Si te interesa conocer más sobre las sesiones de nutrición para deportistas en BAFitness,
                                    visítanos y con gusto te atenderemos

                                </p>
                            </div>
                        </div>
                    </div>
                    <img src="images/suplementos1.jpg" class="rounded float-start" alt="suplementos">
                    <img src="images/suplementos2.jpg" class="rounded float-end" alt="suplementos">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                SUPLEMENTACION DEPORTIVA
                                <p>Hablar de la suplementación deportiva es mencionar aquellos productos que pueden
                                    ayudarnos a lograr un mejor rendimiento,
                                    siempre de manera saludable. Antes de nada, es necesario entender que, siempre que
                                    realizamos un esfuerzo físico,
                                    nuestro cuerpo exige energía. Esta energía la capta de los nutrientes que tomamos
                                    diariamente.
                                    Cuando nos faltan determinados nutrientes, en función al esfuerzo que realizamos,
                                    existe la posibilidad
                                    de que necesitemos complementar nuestra alimentación.
                                    En BAFitness tenemos productos premium y el mejor asesoramiento para ayudarte a
                                    mejorar tu rendimiento deportivo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <img src="images/indumentaria1.jpg" class="rounded float-start" alt="indumentaria">
                    <img src="images/indumentaria2.jpg" class="rounded float-end" alt="indumentaria">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                INDUMENTARIA DEPORTIVA
                                <p>A la hora de hacer deporte, la comodidad y el ajuste adecuado son condiciones
                                    indispensables que ha de cumplir nuestra ropa.
                                    Libertad de movimiento, transpirabilidad y ligereza son factores que permiten que,
                                    la práctica del deporte, resulte placentera y cómoda.
                                    Sin embargo, cada vez hay una mayor preocupación por el diseño y el estilo de la
                                    ropa deportiva.
                                    Cuando practicamos cualquiera que sea el deporte que nos apasiona, intentamos que la
                                    ropa, además de ser funcional y adecuada, sea estética
                                    visualmente.
                                    Calidad, funcionalidad y diseño es lo que encontramos en las marcas que
                                    comercializamos en BAFitness.
                                    Y, lo mejor de todo, están al alcance de todos los bolsillos. ¡No te las pierdas!
                                </p>
                            </div>
                        </div>
                    </div>